<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<head th:fragment="head (title)">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link th:href="@{../../css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{../../css/style.css}">
  <link rel="stylesheet" th:href="@{../../css/user-save.css}">
  <link rel="stylesheet" th:href="@{../../css/myPage-main.css}">
  <link rel="stylesheet" th:href="@{../../css/footer.css}">
  <link rel="stylesheet" th:href="@{../../css/social-login.css}">
  <link rel="stylesheet" th:href="@{../../css/user-login.css}">
  <link rel="stylesheet" th:href="@{../../css/board-save.css}">
  <link rel="stylesheet" th:href="@{../../css/header.css}">
  <link rel="stylesheet" th:href="@{../../css/accompany-detail.css}">
  <link rel="stylesheet" th:href="@{../../css/board-detail.css}">


  <title th:text="${title}">Trip To Leave!!!</title>

</head>

<body>

<!--헤더 부분에서 <div>로 제목과 아래 메뉴 분리해서 설정 하는방법-->

<header th:fragment="header" class="header">
  <nav class="navbar navbar-expand-sm bg-gray navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: #1b1b1b" href="/">Trip To Leave</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" style="color: #1b1b1b" sec:authorize="isAnonymous()" href="/auth/user/login">로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #1b1b1b" sec:authorize="isAnonymous()" href="/auth/user/save">회원가입</a>
          </li>
          <li >
            <a class="nav-link" style="color: #1b1b1b"sec:authorize="isAuthenticated()" href="/notice/main">
              <img id="alarm-image1" src="/images/alarm.png" width="25" height="25"/>
            </a>
          </li>
          <li>
            <a class="nav-link" style="color: #1b1b1b"sec:authorize="isAuthenticated()" href="/user/mypage">마이페이지</a>
          </li>
          <li>
            <a class="nav-link" style="color: #1b1b1b"sec:authorize="isAuthenticated()" href="/board/save" >글쓰기</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <!--<a href="/"><h1>Trip To Leave</h1></a>
  <div class="justify-content-end">
      <nav class="header-nav">
        <ul>
          <li><a sec:authorize="isAnonymous()" href="/auth/user/login">로그인</a></li>
          <li><a sec:authorize="isAnonymous()" href="/auth/user/save">회원가입</a></li>
        </ul>
      </nav>
  </div>-->

    <div class="header_low">
      <ul>
        <li>
          <a href="/" style="color: #1b1b1b">동행 게시판</a>
        </li>
        <li>
          <a href="/review/main">후기 게시판</a>
        </li>
        </ul>
    </div>

</header>

</body>

</html>