<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/header :: head ('board-detail')}"></head>

<body class="text-center d-flex flex-column h-100" style="margin: 90px 150px">

<header th:replace="~{layout/header :: header}"></header>


<main class="form-signin" style="max-width: 100%;">

    <div>
        <img th:if="${board.city == '서울'}" src="/images/seoul.jpg" width="100%" height="300px">
        <img th:if="${board.city == '경기'}" src="/images/gyeonggi.jpg" width="100%" height="300px">
        <img th:if="${board.city == '강원'}" src="/images/gangwon.jpg" width="100%" height="300px">
        <img th:if="${board.city == '경남'}" src="/images/gyeongsangnam.jpg" width="100%" height="300px">
        <img th:if="${board.city == '경북'}" src="/images/gyeongsangbuk.jpg" width="100%" height="300px">
        <img th:if="${board.city == '광주'}" src="/images/gwangju.jpg" width="100%" height="300px">
        <img th:if="${board.city == '대전'}" src="/images/daejeon.jpg" width="100%" height="300px">
        <img th:if="${board.city == '대구'}" src="/images/daegu.jpg" width="100%" height="300px">
        <img th:if="${board.city == '부산'}" src="/images/busan.jpg" width="100%" height="300px">
        <img th:if="${board.city == '울산'}" src="/images/ulsan.jpg" width="100%" height="300px">
        <img th:if="${board.city == '인천'}" src="/images/incheon.jpg" width="100%" height="300px">
        <img th:if="${board.city == '전남'}" src="/images/jeonnam.gif" width="100%" height="300px">
        <img th:if="${board.city == '전북'}" src="/images/jeonbuk.jpg" width="100%" height="300px">
        <img th:if="${board.city == '제주'}" src="/images/jeju.jpg" width="100%" height="300px">
        <img th:if="${board.city == '충남'}" src="/images/chungnam.jpg" width="100%" height="300px">
        <img th:if="${board.city == '충북'}" src="/images/chungbuk.jpg" width="100%" height="300px">
        <img th:if="${board.city == 'null'}" src="" width="100%" height="300px">
    </div>
    <div class="row">

        <div class="column1">
            <div style="text-align:left;">
                <h3 th:text="${board.title}" style="margin: 50px 0px;"></h3>
            </div>
            <div class="container border rounded flex-md-row mb-4 shadow-sm h-md-250" style="text-align:left;">
                <div class="form-floating m-3">

                    <a style="color:gray;">지역</a>
                    <a id="board.city" th:text="${board.city}" style="margin-bottom: 50px;"></a>
                    <a th:text="${board.state}" style="margin-bottom: 50px;"></a>
                    <a style="color:gray;"> 모집 인원</a>
                    <a th:text="${board.pnum}" style="margin-bottom: 50px;"></a>
                </div>
                <div class="form-floating m-3">
                    <a style="color:gray;">여행날짜</a>
                    <a th:text="${board.startday}" style="margin-bottom: 50px;"></a>
                    ~
                    <a th:text="${board.lastday}" style="margin-bottom: 50px;"></a>
                </div>
            </div>

            <div class="form-floating" style="text-align:left; margin-bottom:160px">
                <p style="white-space: pre;" th:utext="${#strings.replace(board.content, '<br/>', '&lt;br /&gt;')}"></p>
            </div>

            <span class="control">
                <div>
                    <input type="hidden" id="id" th:value="${board.id}">
                </div>
                <span th:text="${#temporals.format(board.createdDate, 'yyyy.MM.dd HH:mm')}"></span>
                <span> &bull; 조회수 : </span>
                <span th:text="${board.count}"></span>
                &bull;
                <span th:if="${board.user.id == #authentication.principal.id}">
                    <a th:href="@{/board/{id}/update(id=${board.id})}" style="text-decoration:none;"
                       id="btn-update">수정</a>
                    &bull;
                    <button id="btn-delete" style="border:0; background-color: transparent; color:red;">삭제</button>
                </span>
            </span>
            <br>

            <div class="card mb-2 mt-5">

                <form>
                    <div class="container" style="border-Radius: 0.5rem">
                        <input type="hidden" id="boardId" th:value="${board.id}">
                        <textarea class="form-control" id="reply-content" rows="1"
                                  style="float:left; width:92%; border:none; padding:6px 0px; resize:none; outline: none!important;"
                                  placeholder="댓글을 입력해주세요"></textarea>

                        <button id="reply-btn-save" type="button" class="btn btn-dark" style="float:right; border: none;
  background-color: transparent; color:#1EC800">게시
                        </button>
                    </div>
                </form>
            </div>
            <br/>
            <div class="card" style="margin-bottom:50px;">
                <div class="card-header">댓글</div>
                <ul id="reply--box" class="list-group" th:each="reply : ${board.replyList}">
                    <li th:id="'reply--' + ${reply.id}" class="list-group-item d-flex justify-content-between">
                        <div th:text="${reply.content}"></div>
                        <div class="d-flex">
                            <span class="text-monospace">작성자: &nbsp;</span>
                            <div class="text-monospace" th:text="${reply.user.email}"></div>
                            <span th:if="${reply.user.id == #authentication.principal.id}">
                        <button th:onclick="|replyIndex.replyDelete('${board.id}', '${reply.id}')|"
                                class="badge btn-danger" style="margin-left: 10px;">삭제</button>
                    </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column2">
            <div class="id-box">
                <div class="container border rounded flex-md-row mb-4 shadow-sm h-md-250" style="height:180px;">
                    <div th:text="${board.user.email}"></div>
                    <a class="btn btn-dark mt-3" th:if="${board.user.id == #authentication.principal.id}"
                       th:href="@{/accompanyList/{boardId}(boardId=${board.id})}" style="text-decoration:none;">신청
                        현황</a>
                    <button id="accompany-btn-save" type="button" th:value="${board.id}" class="btn btn-dark mt-3">
                        동행신청
                    </button>
                    <a class="" th:if="${board.user.id == #authentication.principal.id}"
                       th:href="@{/accompanyList/{boardId}(boardId=${board.id})}" style="text-decoration:none;">동행
                        완료</a>
                </div>
            </div>
            <div class="id-box">
                <div class="container border rounded flex-md-row mb-4 shadow-sm h-md-250" style="height:180px;">
                    <div>동행 확정자</div>
                    <span th:each="accompany : ${realAccompanyList}">
                           <div th:text="${accompany.user.nickname}"></div>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div id="userInfo" th:if="
        ${#authentication.principal}">
        <input type="hidden" id="boardTitle" th:value="${board.title}">
        <input type="hidden" id="username" th:value="${#authentication.principal.username}">
        <input type="hidden" id="nickname" th:value="${#authentication.principal.nickname}">
    </div>


</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script th:src="@{/js/board.js}"></script>
<script th:src="@{/js/reply.js}"></script>
<script th:src="@{/js/accompany.js}"></script>
</script>
</body>
</html>
