@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html,
body {
    height: 100%;
}

* {margin: 0; padding: 0; box-sizing: border-box;}
.save-body {
    /*font-family: 'Nanum Gothic', sans-serif;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

/*body::before {
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0,.7);
}*/

.login-form {position: relative; z-index: 2;}
.login-form h1 {
    font-size: 32px; color: #ffff;
    text-align: center;
    margin-bottom: 60px;
}

.int-area {
    width: 400px; position: relative;
    margin-top: 20px;
}

.int-area:first-child {margin-top: 0;}
.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999 ;
    font-size: 18px;
    outline: none;
}

.int-area label {
    position: absolute; left: 10px; top: 15px;
    font-size: 18px; color: #999;
    transition: top .5s ease;
}

.int-area input:focus + label,
.int-area input:valid + label {
    top: -2px;
    font-size: 13px; color: #166cea;
}

.info #info-id {
    position: relative;
}

#info-id button {
    position: absolute;
    width: 90px;
    height: 40px;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto 0;
    border-radius: 3px;
}

.info #info-id2 {
    position: relative;
}

#info-id2 button {
    position: absolute;
    width: 90px;
    height: 40px;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto 0;
    border-radius: 3px;
}

.info #info-id3 {
    position: relative;
}

#info-id3 button {
    position: absolute;
    width: 90px;
    height: 40px;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto 0;
    border-radius: 3px;
}



.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-success {
    margin-bottom: 40px;
}

.fw-normal {
    color: green;
    text-align: center;
}

.myPage-click .myPage-1 {
    position: sticky;
    float: right;
    top: 80px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.16) 0px 0px 4px;
    width: 170px;
    background: #93DAFF;
}